// SideMenu
$nav-width: 92px;

$first-color: #0c5df4 !default;
$bg-color: #12192c !default;
$sub-color: #b6cefc !default;
$white-color: #fff !default;

$body-font: 'Poppins', sans-serif;
$normal-font-size: 1rem;
$small-font-size: 0.875rem;

$z-fixed: 100;

// Basic
$background: #f9f9f9 !default;
